@media only screen and (max-width: 1200px), only screen and (max-device-width: 1200px) {
	.nav_logo_d {
		max-width: 27.9% !important;
	}
	.pc_footer_right {
		float: right;
	}
	.action__btns a {
		height: 48px;
		font-size: 15px;
		margin-right: 13px;
		padding: 0px 14px;
		padding-right: 25px;
		min-width: 140px;
	}
	.available__toggle .slider {
		top: 2px;
		width: 82px;
		height: 40px;
	}
	.available__toggle input:checked+.slider::before {
		-webkit-transform: translateX(40px);
		-ms-transform: translateX(40px);
		transform: translateX(40px);
	}
	.available__toggle .slider::before {
		height: 27px;
		width: 27px;
		right: 6px;
		bottom: 5px;
	}
	.available__toggle p {
		font-size: 13px;
		margin-top: 28px;
		right: 36px;
	}
	.available__toggle {
		min-width: 87px;
		margin-right: 9px;
	}
	.booking__table__left__title {
		min-width: 240px;
	}
	.booking__table__left__content__wrap {
		flex: 0 0 73%;
	}
	.inner_item_left_border {
		padding-bottom: 33px;
	}
	.inner2_item4 > label { 
		width: 100px;
	}
}

@media only screen and (max-width: 1024px), only screen and (max-device-width: 1024px) {
	.nav_logo_d {
		max-width: 44%;
		width: 100%;
	}
	.pc_footer_right ul li a {
		padding: 0px 9px;
	}
	.nav_logo_d {
		max-width: 27.9% !important;
	}
}

@media only screen and (max-width: 992px), only screen and (max-device-width: 992px) {
	.booking__table__left__title h5 {
		font-size: 15px;
	}
	.tab__main__area .card_text_inner4 ul li a.active span { 
		font-size: 14px; 
	}
	.tab_content {
		padding-right: 20px;
	}
	.booking__table__left__title {
		min-width: 185px;
	}
	.booking__thumb {
		max-width: 50px;
		margin-right: 17px;
	}
	.booking__table__left__content__wrap {
		flex: 0 0 56%;
	}
	.booking__table__left__content__wrap p {
		font-size: 15px;
	}
	.action__btns a {
		height: 44px;
		font-size: 13px;
		margin-right: 10px;
		padding: 0px 11px;
		padding-right: 20px;
		min-width: auto;
	}
	.available__toggle input:checked+.slider::before {
		-webkit-transform: translateX(34px);
		-ms-transform: translateX(34px);
		transform: translateX(34px);
	}
	.available__toggle .slider {
		top: 3px;
		width: 75px;
		height: 39px;
	}
	.available__toggle .slider::before {
		height: 27px;
		width: 27px;
		right: 6px;
		bottom: 5px;
	}
	.available__toggle p {
		font-size: 12px;
		margin-top: 25px;
		right: 42px;
	}
	.available__toggle {
		min-width: 80px;
		margin-right: -5px;
	}
	.available__toggle.fr_pc {
		flex: 0 0 auto;
		min-width: 78px;
	}
	.card_text_inner h3 {
		font-size: 17px;
		line-height: 22px;
	}
	.card_text_inner::after {
		width: 65px;
		height: 65px;
	}
	.card_text_inner {
		padding-left: 72px;
	}
	.card_text_inner p {
		font-size: 16px;
		padding-top: 3px;
	}
	.action__btns a span {
		margin-right: 7px;
		max-width: 26px;
	}
	.pc_header {
		display: none;
	}
	.tab_header {
		display: block !important;
	}
	.mobile {
		display: flex !important;
		justify-content: space-between;
	}
	.mobile {
		margin-top: 13px;
		margin-bottom: 6px;
		margin-left: -7px;
	}
	.pc_footer {
		display: none;
	}
	.tab_display {
		display: block;
		background: #000;
		margin-bottom: 10px;
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 9;
	}
	.tab_display_innerlist1 img {
		margin-left: 0;
	}
	.tab_display_innerlist6 img {
		margin-right: 0;
		width: 100%;
	}
	.manu_item3 span {
		left: 27px;
	}
	.menu--sticky {
		opacity: 0;
	}
	.tab_header.sticky .menu--sticky {
		opacity: 1;
	}
}

@media only screen and (max-width: 920px), only screen and (max-device-width: 920px) {
	.tab_display {
		display: block;
		margin-bottom: 0px;
	}
}

@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
	.container {
		padding: 0;
	}
	.post_area_main_inner {
		max-height: 618px;
	}
	.card_text_inner4 ul li {
		height: 28px;
		margin-bottom: 20px;
		border-color: #7b7b7b;
	}
	.contab_tab_inner_right_social {
		display: flex;
		justify-content: space-between;
	}
	.social_area {
		padding-left: 16px;
	}
	.reviews_area {
		padding-top: 14px;
		padding-left: 5px;
		padding-right: 10px;
		background: #f5f5f5;
	}
	.tab_display {
		padding: 0 13px;
	}
	.tab_content_inner_item3 {
		padding-top: 24px;
	}
	.tab_content_inner_item2 {
		padding-top: 24px;
	}
	.inner_item_right_btn3 {
		max-width: 125px;
		width: 100%;
		height: 43px;
	}
	.inner_item_right_btn {
		max-width: 125px;
		height: 44px;
	}
	.inner_item_right_btn1 {
		max-width: 125px;
		height: 42px;
	}
	.booking__table__left__title h5 {
		font-size: 14px;
	}
	.booking__table__left__title {
		min-width: 140px;
	}
	.booking__thumb {
		max-width: 42px;
		margin-right: 10px;
	}
	.booking__table__left__content__wrap p {
		font-size: 14px;
	}
	.booking__table__left__content__wrap span {
		font-size: 16px;
		margin-right: 5px;
	}
	.booking__table__left__content__wrap {
		flex: 0 0 48%;
	}
	.tab_content_inner {
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 12px;
		padding-top: 30px;
	}
	.tab_display_inner ul li {
		max-width: 15.7%;
	}
	.tab_display_innerlist6 img {
		margin-right: 0;
		width: 100%;
	}
	.tab_display_innerlist1 img {
		margin-left: 0;
	}
	.available__toggle {
		position: absolute;
		top: -56px;
		margin-right: 30px;
	}
	.action__btns {
		margin-right: 0;
		padding-top: 25px;
	}
	.available__toggle p {
		font-size: 12px;
		margin-top: 23px;
		right: 45px;
	}
	.action__btns a:last-child {
		margin-right: 0;
		padding-right: 20px;
	}
	.action__btns a {
		height: 40px;
		font-size: 13px;
		margin-right: 10px;
		padding: 0px 10px;
		padding-right: 23px;
	}
	.card_text_inner h3 {
		font-size: 16px;
		line-height: 21px;
		margin-right: -10px;
	}
}

@media only screen and (max-width: 580px), only screen and (max-device-width: 580px) {
	.contab_tab_inner_right_social {
		display: flex;
		justify-content: space-between;
	}
	.contab_tab_inner_right_social li {
		max-width: 100%;
		width: auto;
	}
	.booking__thumb {
		flex: 0 0 auto;
		max-width: 47px;
	}
	.available__toggle p {
		margin-top: 21px;
		right: 46px;
	}
	.booking__table__left__title h5 {
		font-size: 15px;
	}
	.booking__table__left__content {
		flex-direction: column;
	}
	.booking__table__left__title h5 {
		font-size: 16px;
		margin-bottom: 7px;
	}
	.booking__table__left__content__wrap {
		flex: 0 0 100%;
		margin-left: -8px;
	}
	.available__toggle.fr_mob {
		display: block;
		right: 0;
		min-width: auto;
		text-align: right;
		padding-right: 18px;
	}
	.card_text_inner4 ul li a span {
		display: none;
	}
	.card_text_inner4 ul li a.active span {
		font-size: 11px !important;
		line-height: 1.2;
		display: block
	}
	.available__toggle.fr_pc {
		display: none;
	}
	.action__btns a {
		height: 50px;
		font-size: 16px;
		margin: 0 8px;
		padding: 0px 20px;
		padding-right: 20px;
		min-width: 135px;
		width: 46%;
		letter-spacing: .4px;
	}
	.action__btns a span {
		margin-right: 12px;
		max-width: 32px;
		flex: 0 0 auto;
	}
	.action__btns {
		justify-content: flex-start;
	}
	.card_text_inner4 ul {
		display: flex;
	}
	#owl-demo .carousel_item {
		margin: 10px 9px;
	}
	.carousel_item_inner img {
		width: 100%;
	}
	.tab_display_inner ul li {
		max-width: 15.66%;
	}
	.tab_display_innerlist1 img {
		margin-left: 0;
	}
	.tab_display_innerlist2 img {
		margin-left: 0;
	}
	.tab_display_innerlist3 img {
		margin-left: 0;
	}
	.tab_display_innerlist4 img {
		margin-right: 0;
	}
	.tab_display_innerlist5 img {
		margin-right: 0;
	}
	.tab_display_innerlist6 img {
		margin-right: 0;
	}
	.card_text_inner4 ul li a.active2 span {
		font-size: 12px !important;
		line-height: 1.2;
		display: block;
		min-width: 95px;
		padding-top: 4px;
		left: -2px;
		position: relative;
		text-decoration: none;
	}
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
	.tab_display_inner ul li {
		max-width: 15.6%;
	}
}

@media only screen and (max-width: 375px), only screen and (max-device-width: 375px) {
	.tab_display_inner ul li {
		max-width: 15%;
	}
}