.notifications_area {
    background-color: #fff;
    height: 40px;
}

.notifications_title h4 {
    font-size: .9rem;
    font-weight: bold;
}


/* Notifications list */
#transformed {
    transform: translateZ(0);
  }

.notifications_list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
  }
  
  .notifications_list::-webkit-scrollbar {
    display: none;
  }
  
  .notification_item {
    flex: 0 0 auto; /* ADD */
    display: flex; /* ADD */
    flex-direction: column; /* ADD */
  }

.notifications_list {
    list-style: none;
}

.notifictation_event {
    font-size: .9rem;
}

.event_name {
    font-weight: bold;
}

/* New notifications */
.new_notification {
    height: 4rem;
    background-color: rgba(175, 234, 245, 0.18);
    border-bottom: 1px solid rgba(175, 234, 245, 0.4);
}

.new_notification:nth-child(2) {
    border-bottom: 0 !important;
} 


/* Old notifications */

.read_notifications {
    height: 4rem;
}

.grey_border {
    border-bottom: 1px solid #6666;
}

/* Last Notification */

.last_notification {
    height: 4rem;
    border-bottom: 0 !important;
}

/* Surface duo */
@media screen and (min-width: 520px) and (max-width: 550px) and (min-height: 700px) and (max-height: 730px) {
    #tab_display {
        position: relative;
        bottom: 0;
        height: 70px;
        left: 0;
        right: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1025px) {
    #tab_display {
        position: fixed !important;
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
    }
}

@media screen and (min-width: 1020px) and (max-width: 1030px) and (min-height: 590px) and (max-height: 610px) {
    #tab_display {
        position: relative !important;
        height: 80px !important; 
        left: 0;
        right: 0;
        bottom: 0;
    }
}



